.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.link_navigator {
  text-transform: capitalize;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #40513b;
  border-radius: 1rem;
  padding: 2rem 4rem;
  background: rgb(157, 192, 139);
  color: #fff;
  cursor: pointer;
}
.link_navigator:hover {
  background: #40513b;
  color: #fff;
}
