.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  background: rgb(24, 32, 38);
}

.link_navigator {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 4rem;
  padding: 2rem 4rem;
  background: rgb(14, 76, 151);
  color: #fff;
  cursor: pointer;
}
.link_navigator:hover {
  background: #fff;
  color: #000;
}
